<header class="site-header">
  <div>
    <img class="site-img" src="src/assets/img/favicon.svg"/>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light pl-sm-0 pl-md-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Estrenos</a>
        <a class="nav-item nav-link" href="#">Peliculas</a>
        <a class="nav-item nav-link disabled" href="#">Cines</a>
      </div>
    </div>
  </nav>
</header>
