.loader {
  border: 50px solid #495057;
  border-radius: 50%;
  border-top: 50px solid #3498db;
  width: 60vh;
  height: 60vh;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-parent {
  display: block;
  min-height: 100%;
}
