<div class="row mt-5 ml-5" style="margin-right: 1em;">
  <div class="col-md-4">
    <img [src]="urlImage" class="img-responsive">
  </div>
  <div class="col-md-8">
    <h2>{{movie.name}}</h2>
    <div class="row">
      <p class="col-md-3"><b>Fecha Estreno: </b>  {{movie.premiereDate}}</p>
      <p class="col-md-3"><b>Genero: </b>  {{movie.genre.name}}</p>
      <p class="col-md-3"><b>Idioma: </b>  {{movie.language.name}}</p>
      <p class="col-md-3"><b>Calificacion:</b>  {{movie.calification}}/5 <i class="fa fa-star" style="color: #ffd700"></i> </p>
    </div>

    <div class="">
      <p>{{movie.synopsis}}</p>
      <p><b>Director: </b>{{movie.director}} </p>
      <p><b>Actores: </b> {{movie.mainActors}}</p>
      <div id="cinemalist">
        <ng-container *ngFor="let c of cinemas">
          <div class="card">
            <div class="card-header" id="headingcinema{{c.id}}">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#cinema{{c.id}}" aria-expanded="true"
                        attr.aria-controls="cinema{{c.id}}" (click)="getShows(c)">
                  {{c.name}}
                </button>
              </h5>
            </div>

            <div id="cinema{{c.id}}" class="collapse" attr.aria-labelledby="headingcinema{{c.id}}">
              <div class="card-body">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Sala</th>
                      <th>Fecha desde</th>
                      <th>Fecha hasta</th>
                      <th>Hora</th>
                      <th>Costo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let s of c.shows">
                      <th>{{s.room.name}}</th>
                      <td>{{s.datefrom | date: 'dd/MM/yyyy' }}</td>
                      <td>{{s.dateto | date: 'dd/MM/yyyy' }}</td>
                      <td>{{s.startHour}}</td>
                      <td>{{s.cost | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-container>
    </div>
  </div>
</div>

</div>
