img {
  width: 100%;
}

.card {
  border-radius: 0px;
}

.card-header{
  padding: 0px;
  background-color: #CD0A0A;
}

.card-header .btn-link {
  color: #fff;
}

.card-header .btn-link:hover,
.card-header .btn-link:active,
.card-header .btn-link:focus
{
  text-decoration: none;
}
