<div *ngIf="!isLoading">
  <app-option-header title="{{title}}">
    <app-button-create routerLink="add">Nueva {{title}} </app-button-create>
  </app-option-header>


  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th class="align-middle" scope="col" style="width: 40%">Cine</th>
      <th class="align-middle" scope="col" style="width: 50%">Descripcion</th>
      <th class="align-middle" scope="col" style="width: 7.5%"></th>
    </tr>
    </thead>
    <tbody *ngFor="let r of rooms">
    <tr>
      <td>{{r.cinema.name}}</td>
      <td>{{r.name}}</td>
      <td>
        <app-button-edit [routerLink]="['edit', r.id]" class="mr-1"></app-button-edit>
        <app-button-erase data-toggle="modal" data-target="#roomWarning" (onClickEvent)="onSelect(r)"></app-button-erase>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-loader [isLoading]="isLoading"></app-loader>

<app-dialog-modal title="Advertencia" name="roomWarning" (onSave)="onDelete(selectedRoom)">
  Esta seguro de borrar esta sala?
</app-dialog-modal>
